.ProseMirror {
  position: relative;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection *::-moz-selection { background: transparent; }
.ProseMirror-hideselection { caret-color: transparent; }

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px; top: -2px; bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}
.kx-editor {
  background: var(--kx-back-color);
  color: var(--kx-fore-color);
  padding: 0.5rem;
}

.kx-editor .ProseMirror {
  padding: 0.8rem 0.5rem;
  overflow-y: auto;
}

.kx-editor .ProseMirror:focus {
  outline: none;
}

.ProseMirror-selectednode {
  outline: 1px dashed rgb(185, 185, 185);
}

.kx-toolbar {
  display: flex;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid var(--kx-toolbar-separator-color, #ddd);
  margin-bottom: 0.2rem;
  flex-wrap: wrap;
}

.kx-toolbar button {
  display: inline-flex;
  padding: 0.2rem;
  margin: 0 1px;
  border-radius: 0.15em;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  align-items: center;
  cursor: pointer;
  border-color: transparent;
  filter: brightness(100%);
  transition: all 0.3s ease;
  color: var(--kx-fore-color);
  background-color: var(--kx-back-color);
  user-select: none;
}

.kx-toolbar button.is-active,
.kx-toolbar button:hover:not(.is-disabled) {
  color: var(--kx-back-color);
  background-color: var(--kx-fore-color);
}

.kx-toolbar button svg {
  fill: var(--kx-fore-color);
}

.kx-toolbar button.is-active svg,
.kx-toolbar button:hover:not(.is-disabled) svg {
  fill: var(--kx-back-color);
}

.kx-toolbar button.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* For textual buttons */
.kx-toolbar span {
  font-size: 1rem;
  font-weight: bold;
}

.kx-toolbar .separator {
  border-right: 1px solid var(--kx-toolbar-separator-color, #ddd);
  margin-left: 2px;
  margin-right: 2px;
}
